.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.title {
	font-size: 32px;
}
.title::before {
	color: red;
	content: 'P';
}
.title::after {
	font-weight: 100;
	content: ' Shop';
}
.finder {
	display: flex;
	justify-content: center;
	width: 50%;
	max-width: 700px;
}
.finder-input {
	border: 1.5px solid rgba(0,0,0,0.155);
	height: 22px;
	width: 80%;
}
.finder-confirm {
	margin-right: 0;
	height: auto;
	width: 10%;
	min-width: 50px;
	background: rgba(0,0,0,0.155);
	border: none;
}
.finder-input:focus{
	outline: none;
	border: 1.5px solid rgba(230,208,23,1);
}
.finder-input:focus ~ .finder-confirm{
	background: rgba(230,208,23,0.6);;
}
.finder-input:focus ~ .finder-confirm:hover {
	cursor: pointer;
	background: rgba(230,208,23,1);
}
.content{
	width: 70%;
	max-width: 1400px;
	margin: 0 auto;
}
.sort-block{
	display: flex;
	justify-content:flex-start;
}
.sort-label{
	
}
.types-of-sort {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.sort-type {
	display: block;
	height: auto;
	margin-left: 10px;
}
.sort-link {
	text-decoration: none;
}
.content-block {
	display: grid;
	grid-template-columns: 3fr 1fr;
	height: auto;
	width: 100%;
	grid-gap: 10px;
}

.block-sect {
	border: 1.5px solid rgba(0,0,0,0.455);
	display: flex;
}
.devisec-part{
	padding: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card-phone{
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	width: 30%;
	min-width: 200px;
	border: 2px solid lightgray;
}
.card-img {
	min-width: 100px;
	width: 100%;
	max-width: 300px;
}
.phone-brand-name{
	text-align: left;
	font-weight: 200;
	font-size: 14px;
}
.phone-name{
	text-align: left;
	color: blue;
}
.phone-name:hover{
	color: red;
}
.price {
	font-size: 26px;
	text-align: left;
	margin: 0;
}
.price:hover {
	color: red;
}
.reviews{
	text-align: left;
}
.span-rate {
	background: #00782D;
	color: white;
	border-radius: 0 100% 100% 0;
	padding: 2px;
}
.nav-devices{
	display: flex;
	flex-direction: column;
	width: 100%;
}
#map-block{
	padding: 15px;
	margin: 0 auto;
	width: 100%;
	max-width: 200px;
	background-clip: content-box;
	min-height: 150px;
	height: 10%;
	max-height: 300px;
}
.params-list {
	list-style: none;
	padding: 5px;
	width: 100%;
}
.params-list-item {
	margin-bottom: 15px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.params-list-item input {
	margin: 0;
	width: 20%;
}
.params-list-item label {
	width: 70%;
}
@media only screen and (max-width: 1100px){
	.content {
		width: 100%;
	}
	.card-phone{
		width: 45%;
	}
	.content-block {
		grid-template-columns: 100%;
	}
	#map-block {
		margin: 15px auto;
		border: 1px solid black;
		max-width: 80%;
		height: 500px;
	}
}
@media only screen and (max-width: 600px){
	.content {
		width: 100%;
	}
	.card-phone{
		width: 100%;
	}
	.content-block {
		grid-template-columns: 100%;
	}
	#map-block {
		margin: 15px auto;
		border: 1px solid black;
		max-width: 80%;
		height: 500px;
	}
}
